@{
    ViewBag.Title = "Filmiverse";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <h1>About us</h1>
    <p class="lead">
        Filmiverse is a film website with complete details of short films, feature films, tele films and documentaries.
        In short a universe like system of all films available and known.
    </p>
    <p>
        Filmiverse has verified content only in the sections containing a film's cast and crew and release details.
        The section containing to user reviews is only moderated to filter out objectionable content.
    </p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search Movies</h2>
        <p>
            Search for any film or movie whose details you seek.
        </p>
        <p>@Html.ActionLink("Movies", "Index", "Movies")</p>
    </div>
    <div class="col-md-4">
        <h2>Search Actors</h2>
        <p>
            Search for any actor whose details you seek.
        </p>
        <p>@Html.ActionLink("Actors", "Index", "Actors")</p>
    </div>
    <div class="col-md-4">
        <h2>Search Producers</h2>
        <p>
            Search for any producer whose details you seek.
        </p>
        <p>@Html.ActionLink("Producers", "Index", "Producers")</p>
    </div>
</div>